@font-face {
  font-family: 'Rubik';
  src: url('Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: url('Karla-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Mentalist';
  src: url('Mentalist.otf') format('opentype');
}

body{
	background-color: darkslategray;
}

.height{
	height: 100px;
}

header {
	display: flex;
	justify-content: space-between;
}

h1{
	color: aliceblue;
	font-family: 'Mentalist';
}

h2{
	color: black;
	font-family: 'Mentalist';
}

#demo{
	color: black;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
  }