@font-face {
  font-family: 'Mentalist';
  src: url('./assets/Mentalist.otf') format('opentype');
}

body{
	background-color: darkslategray;
}

.height{
	height: 100px;
}


.heighthalf{
	height: 50px;
}

.heightquarter{
	height: 25px;
}

header {
	display: flex;
	justify-content: space-between;
}

h1{
	color: aliceblue;
	font-family: 'Mentalist';
	font-size: medium;
}

#brieftext{
	font-size: 10;
	color: aliceblue;
	font-family: 'Mentalist';	 
}

h2{
	color: black;
	font-family: 'Mentalist';
	font-size: medium;
}

#demo{
	color: black;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 10%;
  }

  .centerhome {
	text-align: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
  }